/.idea

src/nuxt-app/node_modules
src/nuxt-app/core

src/api/node_modules
src/api/public/hot
src/api/public/storage
src/api/storage/*.key
src/api/vendor
src/api/.idea
src/api/.vscode
src/api/.vagrant
src/api/Homestead.json
src/api/Homestead.yaml
src/api/npm-debug.log
src/api/yarn-error.log
# src/api/.env
src/api/.phpunit.result.cache

# Add isso apos fazer a configuração
# .env

src/nuxt-app/logs
src/nuxt-app/*.log
src/nuxt-app/npm-debug.log*
src/nuxt-app/yarn-debug.log*
src/nuxt-app/yarn-error.log*
src/nuxt-app/pids
src/nuxt-app/*.pid
src/nuxt-app/*.seed
src/nuxt-app/*.pid.lock
src/nuxt-app/lib-cov
src/nuxt-app/coverage
src/nuxt-app/.nyc_output
src/nuxt-app/.grunt
src/nuxt-app/bower_components
src/nuxt-app/.lock-wscript
src/nuxt-app/build/Release
src/nuxt-app/node_modules/
src/nuxt-app/jspm_packages/
src/nuxt-app/typings/
src/nuxt-app/.npm
src/nuxt-app/.eslintcache
src/nuxt-app/.node_repl_history
src/nuxt-app/*.tgz
src/nuxt-app/.yarn-integrity
src/nuxt-app/.env
src/nuxt-app/.cache
src/nuxt-app/.next
src/nuxt-app/.nuxt
src/nuxt-app/dist
src/nuxt-app/.vuepress/dist
src/nuxt-app/.serverless
src/nuxt-app/.idea
src/nuxt-app/sw.*
